@page "/"
@page "/Order"
@page "/Order/{Category}"

<PageTitle>Order</PageTitle>

<div class="d-flex flex-row justify-content-start mt-3">

    <div class="categories-container sticky">
        <CategoryNavbar />
    </div>

    <div class="flex-grow-1 ms-3 me-3">
        @foreach (var product in products)
        {
            <div class="card mb-3">
                <div class="card-body">
                    @product.Price?.ToString("c") - @product.Name
                </div>
            </div>
        }
    </div>

    <div class="sticky">
        <div class="card">
            <div class="card-body">
                Basket
            </div>
        </div>
    </div>

</div>

@code {

    private class ProductDetails
    {
        public string? Name { get; set; }

        public decimal? Price { get; set; }
    }

    private IList<ProductDetails> products = new List<ProductDetails>();

    [Parameter]
    public string? Category { get; set; }

    protected override void OnInitialized()
    {
        for (int i = 0; i < 100; i++)
        {
            products.Add(new ProductDetails()
            {
                Name = "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                Price = 10m
            });
        }
    }
}