@page "/"
@page "/Order"
@page "/Order/{Category}"

<PageTitle>Index</PageTitle>

<div class="d-flex flex-row justify-content-start mt-3">

    <div class="categories-container sticky">
        <CategoryNavbar />
    </div>

    <div class="flex-grow-1 ms-3 me-3">
        @foreach (var product in products)
        {
            <div class="card mb-3">
                <div class="card-body">
                    @product
                </div>
            </div>
        }
    </div>

    <div class="sticky">
        <div class="card">
            <div class="card-body">
                Basket
            </div>
        </div>
    </div>

</div>

@code {
    private IList<string> products = new List<string>();

    [Parameter]
    public string? Category { get; set; }

    protected override void OnInitialized()
    {
        for (int i = 0; i < 100; i++)
        {
            products.Add("Lorem ipsum dolor sit amet, consectetur adipiscing elit.");
        }
    }
}