@page "/user"
@inject PizzaParadise.Entities.PizzaParadiseContext DbContext
@inject PizzaParadise.Blazor.Data.UserHandler UserHandler
@using PizzaParadise
@using Microsoft.EntityFrameworkCore; 

<h1>User</h1>

@*<EditForm EditContext="@editContext" OnValidSubmit="@PostForm">

    <InputText id="name" @bind-Value="FirstName" />
    <InputText id="name" @bind-Value="LastName" />
    <button type="submit">Submit</button>

</EditForm>*@

<input type="text" @bind-value="FirstName" />
<input type="text" @bind-value="LastName" />
<button type="button" @onclick="PostFormAsync">Submit</button>

@code {

    private string? FirstName { get; set; }

    private string? LastName { get; set; }

    private async Task PostFormAsync()
    {
        await UserHandler.Test();
    }
}
